$tablet-min-width: 640px;
$desktop-min-width: 1024px;
$xl-desktop-min-width: 1200px;
$main-text-color: #1c1a26;
$orange-text-color: #f9512e;
$background-color: #ffeefc;
$bake-title-color: #7f8096;
$focus-color-button: #b2341a;
